<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Login</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="/adminLog.css">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Admin Login</header>
      <form action="/admin/login" method="post">
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="password" name="adminkey" placeholder="Enter your admin key" required>
        <% if (typeof loginError !== 'undefined' && loginError) { %>
          <p style="color: red;"><%= loginError %></p>
        <% } else if (typeof signupSuccess !== 'undefined' && signupSuccess) { %>
          <p style="color: green;"><%= signupSuccess %></p>
        <% } %>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
          <a href="/admin/register">Signup</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
